html, body {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
}

.display {
  margin-bottom: 20px;
}

.display input[type="text"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 28px;
  font-weight: bold;
  height: 60px;
  margin: 0;
  outline: none;
  padding: 10px;
  text-align: right;
  width: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 28px;
  font-weight: bold;
  height: 60px;
  outline: none;
  transition: all 0.2s ease;
}

.operator {
  background-color: #f2f2f2;
  color: #666;
}

.operator:hover {
  background-color: #ddd;
}

.number {
  background-color: #fff;
  color: #333;
}

.number:hover {
  background-color: #eee;
}

.clear {
  background-color: #f2f2f2;
  color: #666;
}

.clear:hover {
  background-color: #ddd;
}

.equals {
  background-color: #2ecc71;
  color: #fff;
}

.equals:hover {
  background-color: #27ae60;
}

@media only screen and (max-width: 768px) {
  .calculator {
    width: 100%;
  }
}
